/chave-composta/build/
/novo30-08/nbproject/private/
/novo30-08/build/
/novo30-08/dist/
/heranca/nbproject/private/
/heranca/build/
/heranca-table-per-class/dist/
/heranca-table-per-class (cópia)/build/
/heranca-table-per-class (cópia)/dist/
/heranca-table-per-class (cópia)/nbproject/private/
/banco/build/
/banco/dist/
/banco/nbproject/private/
/util/nbproject/private/
/util/build/
/util/dist/
